<launch>
	<!--Simulacion-->
	<!--LAUNCHES-->

	<include file="$(find nav2d_tutorials)/launch/tutorial3.launch"> </include>	
	<include file="$(find movement_functions)/launch/logisticsZones.launch"> </include>	

	<!--NODES-->
	<node name="shortmv" pkg="simple_move" type="shortmv_rosnav" output="screen"/>
	
</launch>
