<launch>
	<arg name="robot_name"  default="Festina"/>
	<arg name="robot_number"  default="2"/>

	<node name="robot_comms" pkg="refbox_comm" type="refbox_comm_node_robot" output="screen">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="robot_number" value="$(arg robot_number)"/>
  	</node>
</launch>