<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="nr_robots" default="3"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="web" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  <arg name="verbose" default="true"/>
  <arg name="record" default="true"/>
  <arg name="log" default="true"/>
  <arg name="team_color" default="c"></arg>

  <!-- set command arguments -->
  <arg unless="$(arg paused)" name="command_arg1" value=""/>
  <arg     if="$(arg paused)" name="command_arg1" value="-u"/>
  <arg unless="$(arg headless)" name="command_arg2" value=""/>
  <arg     if="$(arg headless)" name="command_arg2" value="-r"/>
  <arg unless="$(arg verbose)" name="command_arg3" value=""/>
  <arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>
  <arg unless="$(arg debug)" name="script_type" value="gzserver"/>
  <arg     if="$(arg debug)" name="script_type" value="debug"/>

    
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg unless="$(arg record)" name="librecord_video_plugin" value=""/>
  <arg     if="$(arg record)" name="librecord_video_plugin" value="-g librecord_video_plugin.so"/>
  <arg unless="$(arg log)" name="log_arg" value=""/>
  <arg     if="$(arg log)" name="log_arg" value="-r --record_path gazebo_log"/>


  <group if="$(eval team_color=='c')">
    <arg if="$(eval nr_robots==1 )" name="world_name" default="worlds/sim_one.world"/>
    <arg if="$(eval nr_robots==2)" name="world_name" default="worlds/sim_two.world"/>
    <arg if="$(eval nr_robots==3)" name="world_name" default="worlds/sim_three.world"/>
      <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
	args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_name) $(arg verbose) $(arg paused) $(arg log_arg)" />
	 
  </group>
  <group if="$(eval team_color=='m')">
    <arg if="$(eval nr_robots==1)" name="world_name" default="worlds/sim_one_magenta.world"/>
    <arg if="$(eval nr_robots==2)" name="world_name" default="worlds/sim_two_magenta.world"/>
    <arg if="$(eval nr_robots==3)" name="world_name" default="worlds/sim_three_magenta.world"/> 
      <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
	args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_name) $(arg verbose) $(arg paused) $(arg log_arg)" />
	
  </group>  
  

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- start gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"
        args="$(arg librecord_video_plugin) $(arg verbose)"/>
  </group>
  <group if="$(arg web)">
    <node name="gazebo_web" pkg="grips_simulation" type="start_web.sh" respawn="false" output="screen"/>
  </group>

</launch>
