<?xml version="1.0"?>

<model>
  <name>Challanges map for GRIPS</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
   <name>Peter Kohout</name>
   <email>peter.kohout@student.tugraz.at</email>
  </author>

  <description>
    The RoboCup Logistics League Challenges FIeld for 2021
  </description>
</model>
