<?xml version="1.0"?>
<robot name="pincher_arm" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pincher_arm_description)/urdf/robotino_kinect_arm.xacro"/>
  <!--xacro:include filename="$(find pincher_arm_description)/urdf/dark_arm.xacro"/-->
  <!--xacro:include filename="$(find robotino_description)/robotino_kinect.xacro"/-->
  
  <xacro:pincher_arm/>

</robot>
