<?xml version="1.0"?>
<model>
  <name>Grips Robotino</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Gerald Steinbauer</name>
    <email>steinbauer@ist.tugraz.at</email>
  </author>

  <description>
    Robotino 3 of the Grips Team
  </description>
</model>
